@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

footer {
    font-family: "Poppins", sans-serif;
}

.heading-footer {
    font-weight: bolder;
}

.new-font {
    font-family: "Poppins", sans-serif;
}